<% layout('layout') %>
<div class="content">
  <div class="login">
    <h2>六角西餐廳</h2>
    <p>享受美食好味道</p>
    <form action="#">
      <h5>LOGIN</h5>
      <label for="em">Email Address*</label>
      <input type="email" id="em">
      <label for="pw">Password*</label>
      <input type="password" name="" id="pw">
      <a href="#">忘記密碼？</a>
      <div class="sig-sub">
        <a href="/signin" class="sig-a">註冊</a>
        <input type="submit" name="" id="" value="登入" class="sub">
      </div>
    </form>
  </div>
</div>