<% layout('layout') %>
<div class="content">
  <div class="menu clearfix">
    <div class="cat">
      <h5><span class="fas fa-leaf"></span>線上訂購美食</h5>
      <ul>
        <li><a href="#">全部 (23)</a></li>
        <li><a href="#">只愛吃薯條 (18)</a></li>
        <li><a href="#">加熱就可食 (1)</a></li>
        <li><a href="#" class="brown">不敗漢堡系列 (4)</a></li>
      </ul>
    </div>
    <div class="opt">
      <div class="opt-top">
        <div class="opt-bar clearfix">
          <input type="text">
          <a href="#" class="fas fa-search"></a>
        </div>
        <div class="cart">
          <a href="#">結帳去</a>
          <a href="#" class="fas fa-truck">
            <span class="cart-num"></span>
          </a>
        </div>
      </div>
      <ul class="prods" id="productsList">
        <% for(item of products) { %>
          <li>
            <a href="#" class="far fa-heart heart"></a>
            <div class="img-box">
              <img src="<%- item.img %>" alt="">
            </div>
            <h3><%- item.chTitle %></h3>
            <p><%- item.enTitle %></p>
            <h5>$<%- item.price %></h5>
            <br>
            <a href="#" class="truck"><span class="fas fa-truck"></span>加入購物車</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>