<% layout('layout') %>
<div class="content">
  <div class="signin">
    <h2>六角西餐廳</h2>
    <p>享受美食好味道</p>
    <div class="reg-box">
      <h5>REGISTER</h5>
      <div class="reg-flex">
        <p>就是這樣條款：
          <br>
          Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien...</p>
        <form action="#">
          <label for="em">Email Address*</label>
          <input type="email" id="em">
          <label for="pw">Password*</label>
          <input type="password" class="pw" id="pw">
          <input type="password" class="pw">
          <a href="#">已經有帳號了？</a>
          <input type="submit" name="" id="" value="註冊" class="sub">
        </form>
      </div>
    </div>
  </div>
</div>